.square {
  background: #374046;
  border: 2px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 160px;
  width: 160px;
  margin-right: -1px;
  margin-top: -1px;
  border-color: #00BBD3;
  user-select: none;
  }